{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "^src/(.*)": "./src/\\1",
        "^@root/(.*)": "./src/\\1",
      },
    }]
  ]
}
