<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878596649357-18l7gb4u7volhr4pdt7bk3hl8rfrmf4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878596649357-18l7gb4u7volhr4pdt7bk3hl8rfrmf4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDq4EQ3v3auHsJopCFfZ0ftReOUdIVbRUU</string>
	<key>GCM_SENDER_ID</key>
	<string>878596649357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knyu.moneypig</string>
	<key>PROJECT_ID</key>
	<string>moneypig-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>moneypig-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878596649357:ios:47cc46af28097e8e</string>
	<key>DATABASE_URL</key>
	<string>https://moneypig-prod.firebaseio.com</string>
</dict>
</plist>